body { 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  background-image: url('./assets/mountains-tall-2.jpg');
  background-position: center;
  background-size: cover;
}
header{ } 
main{
  flex-grow: 1;
  scroll-behavior: smooth;
} 
footer{ }

.radius {
  border-radius: 35px;
}

.devicon {
  font-size: 48px;
}

a {
  text-decoration: none;
  color: rgb(49, 49, 49);
}

a:hover {
  text-decoration: none;
  color: rgb(87, 87, 87);
}

p, a {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.15em;
}



.grow:hover {
  transform: scale(1.01);
  transition: all .25s ease-in-out;
  }

  .thickBorder {
    border: 5px solid whitesmoke;
  }

  .bg-tan {
    background-color: #f3f2ef;
  }

  textarea {
    resize: none;
    width: 100%;
    border: 3px solid white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.15em;
  }

  input {
    border: 3px solid white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.15em;
    font-size: large;
  }

::placeholder {
  color: white;
  opacity: 1;
}

  .textshadow {

  }

  .bar {
    background-color: whitesmoke;
    width: 100px;
    height: 3px;
    margin: 8px;
  }

  .blur {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px);
  }

#title {
  height: 100vh;
}

  #skills {
    height: 100vh;
  }

  #portfolio {
    height: 100vh;
  }

  #contact {
    height: 100vh;
  }


  