body { min-height: 100vh; display: flex; flex-direction: column; }
header{ } 
main{flex-grow: 1;} 
footer{ }

.radius {
  border-radius: 35px;
}

i {
  font-size: 48px;
}

a {
  text-decoration: none;
  color: rgb(49, 49, 49);
}

a:hover {
  text-decoration: none;
  color: rgb(87, 87, 87);
}

p, a {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.15em;
}



.grow:hover {
  transform: scale(1.01);
  transition: all .25s ease-in-out;
  }

  .thickBorder {
    border: 5px solid whitesmoke;
  }

  .bg-tan {
    background-color: #f3f2ef;
  }